<html>
    <head>
        <meta charset="utf-8">
        <title>Users Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <h1>Welcome to my Users Section!</h1>

        {% comment %} {{ help_insert }} {% endcomment %}
        <div class="container">
        <div class="jumbotron">
        {% if users %}
            <ol>
                {% for person in users %}
                <li>User Info</li>
                    <ul>
                    <li>First Name: {{person.first_name}}</li>
                    <li>Last Name: {{person.last_name}}</li>
                    <li>Email: {{person.email}}</li>
                    </ul>
                {% endfor %}
            </ol>
        {% endif %}
        </div>
        </div>
        {% comment %} <p>I'm excited to eventually learn Django!</p>

        <a href="https://www.udemy.com">Here's a link to Udemy Website</a>

        <p>Here's a picture of the Python Logo:</p>
        <img src="python.jpeg" alt="python logo not found">

        <p>Here are reasons Django is cool</p>
        <ol>
            <li>Ridiculously Fast</li>
            <li>Reassuringly Secure</li>
            <li>Exceedingly Scalable</li>
        </ol>

        <div>
            <h1>Bonus: Optional Extra Credit</h1>
            <p>Can you figure out how to make a picture link?</p>
        </div>

        <a href="https://www.djangoproject.com/"> <img src="django.png" alt="link to django"></a> {% endcomment %}
    </body>
</html>